@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
  user-select: none;
}

body {
  background: #f7f8fa;
}

input,
button,
span,
div {
  outline: none;
}
